body
{
	/* background-color: #F3F1E5; */
	/* background-color: lightgray;*/
	/* color: white;  */
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	width: 100%;
	margin:0 auto;
	padding:0;
	height: 100%;
	
	background: rgb(249,252,247); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZmNmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY5ZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(249,252,247,1) 0%, rgba(245,249,240,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,252,247,1)), color-stop(100%,rgba(245,249,240,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 ); /* IE6-8 */
	
}

.AlertBox
{
	position: fixed;
	top: 20%;
	left: 20%;
	text-align: center;
	-webkit-box-shadow: 0 0 5px 2px #ababab;
	-moz-box-shadow: 0 0 5px 2px #ababab;
	box-shadow: 0 0 5px 2px #ababab;
	background: #ffffff;
	border: 1px solid #ababab;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;

	outline: none;
	padding: 5px;
	width: 60%;
	z-index: 2000;
}

#body_wrapper
{
	min-height:100%;
}

.body_wrapper
{
	min-height:100%;
	position:relative;
}

#header, #main, #footer
{
	position: relative;
	display: block;
	font-family: "Museo Slab", serif;
	overflow: hidden;
	padding: 1%;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	
}

#header
{
	color: #f0e68c;
	background: rgb(137,137,186); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg5ODliYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4OTg5YmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(137,137,186,1) 0%, rgba(137,137,186,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,137,186,1)), color-stop(100%,rgba(137,137,186,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(137,137,186,1) 0%,rgba(137,137,186,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(137,137,186,1) 0%,rgba(137,137,186,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(137,137,186,1) 0%,rgba(137,137,186,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(137,137,186,1) 0%,rgba(137,137,186,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8989ba', endColorstr='#8989ba',GradientType=0 ); /* IE6-8 */
	
	-webkit-box-shadow: 0px 0px 8px 2px #f0e68c ;
       -moz-box-shadow: 0px 0px 8px 2px #f0e68c ;
            box-shadow: 0px 0px 8px 2px #f0e68c ;

}

#main
{
	background: rgb(249,252,247); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZmNmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY5ZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(249,252,247,1) 0%, rgba(245,249,240,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,252,247,1)), color-stop(100%,rgba(245,249,240,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 ); /* IE6-8 */
	/* margin-bottom: 10%; */
	/* width: 98% !important; */
	overflow: hidden;
	/*padding-bottom: 100px !important;*/
	
}

#footer
{
	background-color: #efefef;
	position:static !important;
	bottom: 0 !important;
	
	-webkit-box-shadow: inset 0px 5px 0px 0px rgba(240,230,140,0.5);
	-moz-box-shadow: inset 0px 5px 0px 0px rgba(240,230,140,0.3);
	box-shadow: inset 0px 5px 0px 0px rgba(240,230,140,0.5);
}

#footer span
{
	float: left;
	color: gray;
	font-weight: bold;
	margin-left: 20px;
	vertical-align: middle;
	/* margin: 0 auto; */
	
}

#footer ul li
{
	float: right;
	padding: 10px;
	margin-left: 5px;
	margin: 0 auto;
}

#header_wrapper
{
	overflow: hidden;
	margin-top: 0px;
}

#header_title_span
{
	/* color: #483D8B; */
	color: #FFF;
}

#header_wrapper ul
{
	display: inline-block;
	vertical-align: top;
	float: right;
}

#header_list li, #header_list li span
{
	vertical-align: middle;
}

#header_wrapper ul, #footer ul
{
	list-style-type: none;
	overflow: hidden;
	position: relative;
	/* margin-top: 0px; */
}

#footer ul
{
	width: 30%;
	display: inline !important;
}

/* #footer ul li
{
	vertical-align: top;
} */

#grant_span
{
	width: 35%;
	text-align: center;
}

#footer_span
{
	width: 30%;
	text-align: center;
}

#footer ul li
{
	/* float: right; */
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 1em;
	/* background-color: lightgray; */
	text-align: center;
	vertical-align: middle;
	font-style: bold;
	margin: 0 auto;
	cursor: pointer;
}

#header li
{
	float: right;
	padding: 10px;
	/* font-family: "Museo Slab", serif; */
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 0.9em;
	/* background-color: lightgray; */
	text-align: center;
	vertical-align: middle;
	font-style: bold;
	width: 200px;
	margin: 0 auto;
	cursor: pointer;
	margin-right: 10px;
}

#header li span:hover
{
	color: #FFF;
	
	/* -webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
    transform: scale(1.1);  */
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
    -webkit-transition: 0.2s linear 0s;
	-moz-transition: 0.2s linear 0s;
	-o-transition: 0.2s linear 0s;
	transition: 0.2 linear 0s;
	outline: 10 none;
}

#header_title, #footer ul
{
	display: inline-block;
	min-width: 600px;
}

#header_title_span, #header_logo
{
	padding: 10px;
	display: inline-block;
	
	/* color: #9966cc; */
	/* float: left; */
	font-size: 1.8em;
	vertical-align: middle;
	border: none;
}

.dialog-form1_open 
{
	opacity: 1;
	overflow-y: hidden;
	max-height: 200px; /* approximate max height */
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

/* login box hide and close */
.dialog-form1_closed {
	opacity: 0;
	visibility: hidden;
	max-height: 0;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

/* .adjust_footer
{
	position: fixed !important;
	bottom: 0px;
} */