/* iPad mini in landscape */
/* @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1)  
{
	#ticker
	{
		height: 70px !important;
	}
	
	#slider_img
	{
		margin: auto;
		height: 100%;
		max-width: 480px;
		max-height: 300px;
	}
}

/* iPad mini in potrait 
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  
{
	#ticker
	{
		height: 80px !important;
	}
	#slider
	{
		width: 100% !important;
	}
	#slider_img
	{
		margin: auto;
		height: 100%;
		max-width: 480px;
		max-height: 300px;
	}
	
} */

/* iPad in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) 
{ 
	#ticker
	{
		height: 70px !important;
		
	}
	/* .main
	{
		width: 100%;
	} */
	#slider_img
	{
		margin: auto;
		height: 100%;
		max-width: 700px;
		max-height: 500px;
	}
}

/* iPad in potrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
{ 
	#ticker
	{
		height: 70px !important;
	}
	
	#slider_img
	{
		margin: auto;
		height: 100%;
		max-width: 700px;
		max-height: 500px;
	}
}