/********** Ticker CSS **********/
#ticker {
	position: relative;
	background-color: #eee;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ddd));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #ddd, #fff);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #ddd, #fff);

	/* IE 10 */
	background: -ms-linear-gradient(top, #ddd, #fff);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #ddd, #fff);
	color: #0C2C52;
	/* font-family: 'Oswald', sans-serif; */
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-style: italic;
	font-weight: 600;
	color: gray;
	width: 100% !important;
	/* height: 80px; */
	border-bottom: 1px solid #ccc;
	z-index: 0;
	/*-webkit-box-shadow: 0 4px 4px -2px #aaa;
	-moz-box-shadow: 0 4px 4px -2px #aaa;
	box-shadow: 0 4px 4px -2px #aaa;*/
	-webkit-box-shadow: 0px 0px 8px 2px #f0e68c ;
       -moz-box-shadow: 0px 0px 8px 2px #f0e68c ;
            box-shadow: 0px 0px 8px 2px #f0e68c ;
}

#ticker_wrapper {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 1em 0;
	overflow: hidden;
}
#ticker_bg {
	background-color: #efefef; 
	padding-bottom: 6px;
} 